@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

:root {
    --background: #fafafa;
    --foreground: #1f2937;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
}

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .container-wrapper {
        @apply mx-auto my-8 w-full;
    }
    .container {
        @apply mx-auto max-w-2xl px-4;
    }
}
