@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
    .container-wrapper {
        @apply mx-auto min-w-screen;
    }
    .container {
        @apply mx-auto max-w-2xl min-w-64 px-4;
    }
}
