---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <section class="container-wrapper mt-16">
        <div class="container">
            <p>Hello! 👋</p>
            <h1>My name Christian.</h1>
            <p>I'm a minimalistic <span class="underline">software engineer</span>.</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Consectetur adipiscing elit
                quisque faucibus ex sapien vitae. Ex sapien vitae pellentesque sem placerat in id.
                Placerat in id cursus mi pretium tellus duis. Pretium tellus duis convallis
                tempusleo eu aenean.
            </p>
        </div>
    </section>
</BaseLayout>
