<section class="mx-auto mb-8 w-full py-20">
    <div class="mx-auto max-w-2xl px-4">
        <div class="mb-8 flex flex-col">
            <h1 class="mb-4 text-4xl font-bold">Hi, I'm Christian!</h1>
            <p>
                I'm a
                <span class="border-b-3 border-green-300">software engineer</span> and
                <span class="border-b-3 border-blue-300">game developer</span> that likes to create clean,
                efficent, and organized code. I have recently developed this website to share my journey
                and my ideas!
            </p>
        </div>
        <div class="flex gap-4">
            <a
                href="/resume.pdf"
                target="_blank"
                rel="noopener noreferrer"
                class="inline-block h-full rounded bg-gray-100 px-4 py-2 text-center hover:bg-gray-200"
            >
                Download Resume
            </a>
        </div>
    </div>
</section>
