---
type Project = {
    date: string | number;
    title: string;
    demo?: string;
    source?: string;
};

const projects: Project[] = [
    {
        date: 2025,
        title: "Slot Game Template",
    },
    { date: 2025, title: "Kitchen Management" },
    { date: 2025, title: "Grocery Tracker" },
];
---

<section class="container-wrapper">
    <div class="container">
        <div class="mb-8">
            <h2 class="mb-4 text-3xl font-bold">Recent Projects</h2>
        </div>
        {
            projects.length > 0 ? (
                <ul class="grid w-full flex-wrap gap-4 sm:grid-cols-2">
                    {projects.map((props) => (
                        <li class="rounded bg-gray-100 px-8 py-6">
                            <div class="mb-4">
                                <div class="flex justify-between">
                                    <h1 class="font-bold">{props.title}</h1>
                                </div>
                            </div>
                            <div class="mb-4">
                                <p class="text-foreground/75">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                            <div class="flex gap-2 py-2">
                                <a
                                    href="#"
                                    class="inline-block h-full rounded px-2 text-center hover:bg-gray-200"
                                >
                                    Demo
                                </a>
                                <a
                                    href="#"
                                    class="inline-block h-full rounded px-2 text-center hover:bg-gray-200"
                                >
                                    Source
                                </a>
                            </div>
                        </li>
                    ))}
                </ul>
            ) : (
                <p class="text-sm text-gray-500">No projects yet — stay tuned!</p>
            )
        }
    </div>
</section>
