---
import { getCollection } from "astro:content";

// Get and sort blog posts by publication date (newest first)
const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section class="container-wrapper py-12">
    <div class="container">
        <h2 class="mb-4 text-3xl font-semibold">Recent Posts</h2>
        {
            posts.length > 0 ? (
                <ul>
                    {posts.map((post) => (
                        <li>
                            <a class="hover:underline" href={`/blog/${post.id}/`}>
                                {post.data.title}
                            </a>
                        </li>
                    ))}
                </ul>
            ) : (
                <p class="text-sm text-gray-500">No posts yet — stay tuned!</p>
            )
        }
    </div>
</section>
