---
import HeaderLink from "./HeaderLink.astro";
---

<header class="container-wrapper px-2 py-4">
    <nav class="container flex justify-between">
        <a href="/">tchrjs</a>
        <div class="flex gap-4">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
    </nav>
</header>
