.typescript {
  --background: #007acc;
  --foreground: #ffffff;
  --muted: #f7f7f7;
  --muted-foreground: #cccccc;
  --accent: #121212;
  --accent-foreground: #ffffff;
  --border: #282424;
  --input: #282424;
  --button: #282424;
  --button-foreground: #ffffff;
  --radius: 0;
}

.javascript {
  --background: #f0db4f;
  --foreground: #323330;
  --muted: #f7f7f7;
  --muted-foreground: #323330;
  --accent: #141414;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #323330;
  --button: #323330;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.gdscript {
  --background: #478cbf;
  --foreground: #323330;
  --muted: #f7f7f7;
  --muted-foreground: #323330;
  --accent: #141414;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #323330;
  --button: #ffffff;
  --button-foreground: #323330;
  --radius: 0.6rem;
}

.csharp {
  --background: #9b4f96;
  --foreground: #ffffff;
  --muted: #f7f7f7;
  --muted-foreground: #ffffff;
  --accent: #ffffff;
  --accent-foreground: #68217a;
  --border: #ffffff;
  --input: #ffffff;
  --button: #68217a;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.cplusplus {
  --background: #659ad2;
  --foreground: #004482;
  --muted: #f7f7f7;
  --muted-foreground: #00599c;
  --accent: #004482;
  --accent-foreground: #ffffff;
  --border: #00599c;
  --input: #004482;
  --button: #00599c;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.nextjs {
  --background: #000000;
  --foreground: #ffffff;
  --muted: #f7f7f7;
  --muted-foreground: #ffffff;
  --accent: #000000;
  --accent-foreground: #ffffff;
  --border: #ffffff;
  --input: #ffffff;
  --button: #ffffff;
  --button-foreground: #000000;
  --radius: 0.625rem;
}

.reactjs {
  --background: #61dafb;
  --foreground: #141414;
  --muted: #f7f7f7;
  --muted-foreground: #323330;
  --accent: #141414;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #323330;
  --button: #323330;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.html {
  --background: #f16529;
  --foreground: #141414;
  --muted: #f7f7f7;
  --muted-foreground: #ffffff;
  --accent: #f7f7f7;
  --accent-foreground: #141414;
  --border: #e44d26;
  --input: #141414;
  --button: #141414;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.css {
  --background: #1572b6;
  --foreground: #ffffff;
  --muted: #f7f7f7;
  --muted-foreground: #ffffff;
  --accent: #1572b6;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #ffffff;
  --button: #33a9dc;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.tailwind {
  --background: #38bdf8;
  --foreground: #323330;
  --muted: #f7f7f7;
  --muted-foreground: #323330;
  --accent: #141414;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #323330;
  --button: #323330;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}

.supabase {
  --background: #3ecf8e;
  --foreground: #323330;
  --muted: #f7f7f7;
  --muted-foreground: #323330;
  --accent: #141414;
  --accent-foreground: #ffffff;
  --border: #323330;
  --input: #323330;
  --button: #323330;
  --button-foreground: #ffffff;
  --radius: 0.625rem;
}
